name: $COMPOSE_PROJECT_NAME
services:
  devcontainer:
    container_name: $COMPOSE_PROJECT_NAME
    env_file: .env
    volumes:
      - ../:/workspace
      - ./bash_history:/home/$COMPOSE_PROJECT_NAME/.bash_history
      - ./cache/user-cache:/home/$COMPOSE_PROJECT_NAME/.cache
      - ./cache/apt-archives:/var/cache/apt/archives
    build:
      context: ../
      dockerfile: ./.devcontainer/Dockerfile
      args:
        USER_ID: $UID
        USERNAME: $COMPOSE_PROJECT_NAME
        IMAGE: $IMAGE
        PORT: $PORT
    stdin_open: true
    tty: true
    ports:
      - $PORT:$PORT
