name: $COMPOSE_PROJECT_NAME
services:
  devcontainer:
    container_name: $COMPOSE_PROJECT_NAME
    env_file: .env
    volumes:
      - ../:/workspace
      - ./bash_history:/home/$COMPOSE_PROJECT_NAME/.bash_history
      - ./cache:/home/$COMPOSE_PROJECT_NAME/.cache
    build:
      context: ../
      dockerfile: ./.devcontainer/Dockerfile
      args:
        USER_ID: $UID
        USER_NAME: $COMPOSE_PROJECT_NAME
        PYTHON_VERSION: $PYTHON_VERSION
        IMAGE: $IMAGE
        BUILD_SH: build.sh
        PORT: $PORT
    stdin_open: true
    tty: true
    ports:
      - $PORT:$PORT
#include:
#  - services/redis.yaml
#  - services/minio.yaml
#  - services/postgres.yaml
#  - services/elasticmq.yaml
# ...other services
